/*Zoom In*/
.card-img {
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.card-img:hover {
    transform: scale(1.1);
}
